<section class="faq-testimonials">
    <div class="container clearfix">
        <div class="row col-mb-50 mb-0">
            
            <!-- FAQ -->
            <div class="col-md-12">
            <!-- <div class="col-md-5"> -->
                <div class="accordion accordion-lg clearfix">
                    <h4>FAQ</h4>
                    <div class="accordion-header">
                        <div class="accordion-icon">
                            <i class="accordion-closed icon-ok-circle"></i>
                            <i class="accordion-open icon-remove-circle"></i>
                        </div>
                        <div class="accordion-title">
                            How is character developed in adults?
                        </div>
                    </div>
                    <div class="accordion-content clearfix">
                        Developing character in adults is not easy.  Developing character takes time.  Sometimes a significant event in one's life has such an impact that it affects one's character.  Recognizing those two points, TLI attempts to "awaken" critical character traits or virtues (excellences of character) like honesty, integrity, caring, and several others.  We do this by looking at leaders who impacted us and discussing how we are emulating them.
                    </div>

                    <div class="accordion-header">
                        <div class="accordion-icon">
                            <i class="accordion-closed icon-ok-circle"></i>
                            <i class="accordion-open icon-remove-circle"></i>
                        </div>
                        <div class="accordion-title">
                            How long is TLI's leadership development program?
                        </div>
                    </div>
                    <div class="accordion-content clearfix">
                        TLI's leadership development can last as long as the leader wants.  The program has three parts:<br /><br />
            
                        <b>Part 1:</b> addresses character and discusses the character traits (virtues) our teams naturally expect from us and goes about awakening those virtues so that we know ourselves better and are consciously working to develop those traits. This accomplished in a three to four hour seminar.<br /><br />
                        
                        <b>Part 2:</b> looks at key activities that great leaders participate in that have very positive impacts on their teams. These activities are discussed from the team members' perspective as the recipient of the leader's actions. The idea here is for leader's to be aware of how team members react and respond to their leader's actions. In this way, the leaders grow to understand the actions they can take that have the biggest positive impacts on their teams. This accomplished in three-day seminar.<br /><br />
                        
                        <b>Part 3:</b> provides coaching to leaders who have gone through Part 1 and Part 2. We all need to have someone come along and coach us tin honing our skills. Leaders need a coach to help them use what they learned from Parts 1 and 2 and to continually improve leadership skills.
                    </div>

                    <div class="accordion-header">
                        <div class="accordion-icon">
                            <i class="accordion-closed icon-ok-circle"></i>
                            <i class="accordion-open icon-remove-circle"></i>
                        </div>
                        <div class="accordion-title">
                            Can leadership really be taught?
                        </div>
                    </div>
                    <div class="accordion-content clearfix">To a large degree, yes. Leadership skills can be identified, discussed, and role played. Long-term leadership capabilities have to be continually practiced and improved upon, and over time, these skills will become second nature. Developing one's leadership capabilities takes time and these skills mature and become second nature.  Coaching can last as long as the leader is receiving benefits from the coaching sessions.</div>
                </div>
            </div>

            <!-- TESTIMONIALS -->
            <!-- <div class="col-md-5">
                <h4>Client Testimonials</h4>
                <ul class="testimonials-grid grid-1">
                    <li class="grid-item pt-0">
                        <div class="testimonial">
                            <div class="testi-image">
                                <a href="#"><img src="images/testimonials/1.jpg" alt="Customer Testimonials"></a>
                            </div>
                            <div class="testi-content">
                                <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum repellendus!</p>
                                <div class="testi-meta">
                                    John Doe
                                    <span>XYZ Inc.</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid-item pb-0">
                        <div class="testimonial">
                            <div class="testi-image">
                                <a href="#"><img src="images/testimonials/2.jpg" alt="Customer Testimonials"></a>
                            </div>
                            <div class="testi-content">
                                <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                                <div class="testi-meta">
                                    Collis Ta'eed
                                    <span>Envato Inc.</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</section>